@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "olden";
  src: url("./fonts/Oldenburg-Regular.ttf") format("truetype");
  /* Tambahkan format font lainnya jika diperlukan */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-left::-webkit-scrollbar {
  display: none;
}
